<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/exc-member" method="POST">
<legend>Username</legend>
<input name="userid" type="text">
<legend>Email</legend>
<input type="text">
<label for="admin">Admin</label>
<input id="admin" type="checkbox" name="admin">
<button>submit</button>
</form>

</body>
</html>