<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/member">
    <button>Become an exclusive member</button>
    </a>
    <a href="/message">
    <button>Write message</button>
    </a>
    <a href="/log-out">LOG OUT</a>

    <ul><% messages.map(message => { %>
    
    <% if(user.member) {%>
    <legend><%= message.usernameid %></legend>
    <%}%>

    <li><%= message.message %></li>
    
    <%})%>
    </ul>

    <% } else { %>
    <h1>please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button>Log In</button>
    </form>
    <a href="/sign-up">Create Account</a>
    <%}%>
  </body>
</html>
