<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/write-message" method="POST" >
    <legend>Message:</legend>
    <input name="message" type="text">
    <input type="hidden" name="usernameid" value="<%= user.username %>">
    <button>Post</button>
    </form>
</body>
</html>